@model WorkforceManagement.Models.Departments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Employees
            </th>
        </tr>
@foreach (var employee in Model.Employees)
{        
    <tr>
            <td>
                @employee.FirstName @employee.LastName
            </td>
        </tr>
}
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
